@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.dark-background {
  filter: brightness(0.4); /* Adjust the value between 0 (black) and 1 (original) */
}

.custom-scrollbar {
  /* Hide default scrollbar */
  overflow-y: scroll;
  scrollbar-width: none;

  /* Style the custom scrollbar (optional) */
  &::-webkit-scrollbar {
    width: 10px; /* Change this value for desired width */
  }

  &::-webkit-scrollbar-thumb {
    background: #eee; /* Change this for thumb color */
  }

  &::-webkit-scrollbar-track {
    background: #ccc; /* Change this for track color */
  }
}